<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dymedrop</title>
</head>

<body>
    <p>Hello,</p>
    <p>To reset your Dymedrop password, use this code.</p>
    <h3>
        <%=otp%>
    </h3>
    <p>If you did not ask to reset your password, ignore this message.</p>
    <p>Thank you</p>
    <p>Dymedrop Team</p>
</body>

</html>