<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dymedrop Verification Code</title>
</head>

<body>
    <p>Confirm your email. Enter the following code inside the Dymedrop App to verify that you recently
        added <%=email%> as the email address for your Dymedrop account.</p>
    <p>Verification Code:</p>
    <h3>
        <%=otp%>
    </h3>
    <p>Dymedrop requires verification whenever an email address is added to your Dymedrop account. Your email cannot be
        used until you verify it.</p>
    <p>If you did not make this change, ignore this message.</p>
    <p>Thank you</p>
    <p>Dymedrop Team</p>
</body>

</html>